<div class="present--content">
  <h2 class="__title">
    Regalo di nozze
  </h2>
  <div class="__elements">
    <img src="assets/images/thun2.jpg" alt="thun-sunset" class="__image">
    <div class="__description">
      <img src="assets/images/sara-davide4.jpeg" alt="sara-davide4" class="__francobollo">
      <span>Avervi con noi in uno dei giorni più importanti della nostra vita sarà un’emozione indescrivibile.</span>
      <span>Se vorrete aiutarci a realizzare i nostri piccoli e grandi desideri, saremo grati del vostro sostegno:</span>
      <h3>Sara Cinchetti IT29Q0569654460000004834X17</h3>
    </div>
  </div>
</div>
