<div class="title">
  <img src="assets/images/love.svg" alt="love" class="image__love">
  <div class="characters">
    <h1>Sara</h1>
    <img src="assets/images/heart.svg" alt="heart" class="image__heart">
    <h1>Davide</h1>
  </div>
  <div class="menu">
    <span class="__item" (click)="scroll('program')">{{'Programma' | uppercase}}</span>
    <span class="__item" (click)="scroll('present')">{{'Regalo di nozze' | uppercase}}</span>
  </div>
  <div class="carousel">
    <img src="assets/images/sara-davide1.jpeg" alt="sara-davide-1" class="__element">
    <img src="assets/images/sara-davide2.jpeg" alt="sara-davide-2" class="__element">
    <img src="assets/images/sara-davide3.jpeg" alt="sara-davide-3" class="__element">
  </div>
</div>
