
html, body {
  height: 100%;
}

body {
  margin: 30px 0;
}

* {
  font-family: traveling, sans-serif !important;
}

span {
  font-family: brandon, sans-serif !important;
}

hr {
  border-top-width: 2px;
  margin: 40px 0 20px;
  width: 100%;
  border-top-color: #d8bb98;
}
